<?php
/**
 * @var $block \Kowal\Gus\Block\Gus
 */
?>


<script type="text/javascript">
    require(['jquery', 'checkoutjs'], function ($, gus) {
        $(document).ready(function () {
            $("<div class=\"get-from-gus\"><span  class=\"get-from-gus-button\">GUS2</span></div>").insertAfter("div[name='billingAddressshared.vat_id']");
            gus("input[name='vat_id']");
        });
    });
</script>