div.get-from-gus {
  display: inline-block;
  border: 0px;
  max-width: 10%;
  min-width: 10%;
  padding: 40px 0px 0px 0px;

  .get-from-gus-button {
    background-color: #b23b7c;
    color: #fff;
    border-radius: 4px;
    padding: 9px;
    width: 100%;
    cursor: pointer;
  }
}